.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.main {
    flex: 1;
    margin-left: 240px;
    /* Sidebar width */
    display: flex;
    flex-direction: column;
}

.content {
    padding: 2rem;
    flex: 1;
    overflow-y: auto;
}